# Dependencies
node_modules/

# Expo
mobile/.expo/
mobile/dist/
mobile/web-build/

# Shared package
shared/dist/

# Firebase
functions/lib/
.firebase/

# Environment
.env
.env.local

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Firebase
shared/firebase-private-key.json